{% extends "header.html" %}

{% block title %}
Scanner
{% endblock %}

{% block body %}

<br>
<table align="center" class="table-bordered table-striped">
	<tr>
		<th> Market </th>
		<th> Base Volume (24h) </th>
		<th> Bid </th>
		<th> Ask </th>
		<th> Last </th>
		<th> Previous Day </th>
		<th> % Change (24h) </th>
	</tr>

	{% for row in table %}
		<tr>
			<td> {{ row.MarketName }} </td>
			<td> {{ row.BaseVolume }} </td>
			<td> {{ row.Bid }} </td>
			<td> {{ row.Ask }} </td>
			<td> {{ row.Last }} </td>
			<td> {{ row.PrevDay }} </td>
			<td> {{ row.Change }} </td>
		</tr>

	{% endfor %}
</table>

{% endblock %}