{% extends "header.html" %}

{% block title %} Scanner {% endblock %}

{% block body %}
	<br>
	<div>
		<div >
			<h7> BTC % Change (24h) : </h7>
		</div>
		<table class="table-bordered table-striped">
			<thead>
				<tr>
					<th> Market </th>
					<th> Base Volume (24h) </th>
					<th> Bid </th>
					<th> Ask </th>
					<th> Last </th>
					<th> Previous Day </th>
					<th> % Change (24h) </th>
					<th> % Change (14h) </th>
					<th> RSI </th>
				</tr>
			</thead>

			<tbody id="table-body" />
		</table>
	</div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">

		var isRescan = false;

		function updateTable() {
			$.ajax({
				url: "{% url 'scan' %}",
				type: "GET",
				data: { isRescan },
				dataType: "json",
				success: function(response) {

					var rowData = response['table'];

					var rowHtml = "";

					for (i = 0; i < rowData.length; i++) {
						var row = rowData[i];

						rowHtml += "<tr>";
						rowHtml += "<td>" + row["MarketName"] + "</td>";
						rowHtml += "<td>" + row["BaseVolume"] + "</td>";
						rowHtml += "<td>" + row["Bid"] + "</td>";
						rowHtml += "<td>" + row["Ask"] + "</td>";
						rowHtml += "<td>" + row["Last"] + "</td>";
						rowHtml += "<td>" + row["PrevDay"] + "</td>";
						rowHtml += "<td>" + row["Change24Hr"] + "</td>";
						rowHtml += "<td>" + row["Change14Hr"] + "</td>";
						rowHtml += "<td>" + row["RSI"] + "</td>";
						rowHtml += "</tr>";
					}

					$("#table-body").empty();
					$("#table-body").html(rowHtml);
					isRescan = true;
				}
			})
		};

		(function update() {
			updateTable();
			setTimeout(update, 10000);
		})();

		// (function update() {
		// 	$.ajax({
		// 		url: "https://api.coinmarketcap.com/v1/ticker/bitcoin/",
		// 		type: "GET",
		// 		dataType: "json",
		// 		success: function(response) {
		// 			btc_change_24hr = response[0]["percent_change_24h"]
		// 		}
		// 	})
		// })();



	</script>
{% endblock %}