{% extends "header.html" %}

{% block title %} Strategy A {% endblock %}

{% block navbar %}
	<li><a href="{% url 'scanner' %}">Scanner</a></li>
	<li class="active"><a href="{% url 'strata' %}">Strategy A</a></li>
{% endblock %}

{% block body %}

	<div style="height: 200%; background-color: #263238; color: Gainsboro" align="center">
		<div style="width: 80%; margin-top: -25px">
			<div style="margin-left: auto; margin-right: auto; margin-top: 25px; margin-bottom: 15px;  text-align: left; display: inline-block;" class="container-fluid">

				<p> 
					This strategy is an implementation of the bottom reversal strategy, with the premise that a bullish security that suddenly oversold itself would likely bounce back up. 
				</p> 

				<ol>
					<p>
						<i>  Buy Signals: </i>
						<li> If altcoin RSI &le; 25. </li>
						<li> If altcoin 24h percent change &ge; 5% and 12h percent change &ge; 2.5% and 6h percent change &ge; 0%. </li>
					</p>
				</ol>
			</div>
		</div>
	</div>

	<br>

	<div align="center">
		<div style="text-align: left; margin-right: 5%; margin-left: 5%">
			<p class="no-linebreak" style="font-size: 3em;"> 
				RECENT MARKETS
			</p>
		
			<div style="text-align: right;">
				<div style="overflow-x:auto;">
					<table class="table table-bordered table-condensed table-striped">
						<thead>
							<tr>
								<th> Datetime Created </th>
								<th> Market </th>
								<th> Base Volume (24h) </th>
								<th> Bid </th>
								<th> Ask </th>
								<th> Last </th>
								<th> Previous Day </th>
								<th> % Change (24h) </th>
								<th> % Change (12h) </th>
								<th> % Change (6h) </th>
								<th> RSI </th>
							</tr>
						</thead>

						<tbody id="table-body" />
					</table> 
				</div>
			</div>
		</div>
	</div>
	</div>

{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		
		function updateTables() {
			$.ajax({
				url: "{% url 'strata_markets' %}",
				type: "GET",
				dataType: "json",
				success: function(response) {
					html = "";

					markets = response["markets"];
					
					for (i = 0; i < markets.length; i++)
						console.log(markets[i]["is_recent"])
				}
			});
		};

		periodicFunctions.push(updateTables);

	</script>


{% endblock %}