{% extends "header.html" %}

{% block title %} Strategy A {% endblock %}

{% block navbar %}
	<li><a href="{% url 'scanner' %}">Scanner</a></li>
	<li class="active"><a href="{% url 'strata' %}">Strategy A</a></li>
{% endblock %}

{% block body %}
	<div style="height: 200%; background-color: #263238; color: Gainsboro" align="center">
		<div style="width: 80%; margin-top: -25px">
			<div style="margin-left: auto; margin-right: auto; margin-top: 25px; margin-bottom: 15px;  text-align: left; display: inline-block;" class="container-fluid">

				<p> 
					This strategy is an implementation of the bottom reversal strategy, with the premise that a bullish security that suddenly oversold itself would likely bounce back up. 
				</p> 

				<ol>
					<p>
						<i>  Buy Signals: </i>
						<li> If altcoin RSI &le; 25. </li>
						<li> If altcoin 24h percent change &ge; 5% and 12h percent change &ge; 2.5% and 6h percent change &ge; 0%. </li>
					</p>
				</ol>
			</div>
		</div>
	</div>

	<br>
	<div  style="margin-right: 2.5%; float: right; width: 15%;">
		<label align="right">
			Notification: 
			<input type="checkbox" name="notif-switch" id="notif-switch" onchange="onNotifSwitchClicked(this)">
		</label>
		<label style="text-align: left;">
			Your email address:
		</label>
		<input type="text" name="">
	</div>


	<div align="center" style="float:left; width: 85%;">
		<div style="text-align: left; margin-right: 5%; margin-left: 5%">
			<p class="no-linebreak" style="font-size: 3em;">
				RECENT MARKETS
			</p>
		
			<div style="text-align: right;">
				<div style="overflow-x:auto;">
					<table class="table table-bordered table-condensed table-striped">
						<thead>
							<tr>
								<th> Datetime Created </th>
								<th> Market </th>
								<th> Base Volume (24h) </th>
								<th> Bid </th>
								<th> Ask </th>
								<th> Last </th>
								<th> Previous Day </th>
								<th> % Change (24h) </th>
								<th> % Change (12h) </th>
								<th> % Change (6h) </th>
								<th> RSI </th>
							</tr>
						</thead>

						<tbody id="table-recent-body" />
					</table> 
				</div>
			</div>
		</div>

		<div style="text-align: left; margin-right: 5%; margin-left: 5%; margin-bottom: 5%">
			<p class="no-linebreak" style="font-size: 3em;"> 
				HISTORY
			</p>
		
			<div style="text-align: right;">
				<div style="overflow-x: auto; overflow-y: auto;">
					<table class="table table-bordered table-condensed table-striped">
						<thead>
							<tr>
								<th> Datetime Created </th>
								<th> Market </th>
								<th> Base Volume (24h) </th>
								<th> Bid </th>
								<th> Ask </th>
								<th> Last </th>
								<th> Previous Day </th>
								<th> % Change (24h) </th>
								<th> % Change (12h) </th>
								<th> % Change (6h) </th>
								<th> RSI </th>
							</tr>
						</thead>

						<tbody id="table-history-body" />
					</table> 
				</div>
			</div>
		</div>
	</div>

	<div id="notif-snackbar" class="snackbar">
		<p class="no-linebreak" style="margin-right: 10px">New Buy Signal </p>
		<input type="button" class="btn btn-primary btn-sm" value="Got it" onclick="noticeNotif()">
	</div>

	{% load static %}
	<audio src="{% static 'sound/analog-alarm.mp3' %}" id="notif-sound"></audio>
{% endblock %}

{% block javascript %}

	<script type="text/javascript">
		// Setup notification switch behavior

		$.fn.bootstrapSwitch.defaults.size = "mini";

		if (localStorage.getItem("isNotifEnabled") == null) {
			localStorage.setItem("isNotifEnabled", JSON.stringify(true));
		}

		$("[name='notif-switch']").bootstrapSwitch("state", JSON.parse(localStorage.getItem("isNotifEnabled")));

		function onNotifSwitchClicked(cb) {
			if (cb.checked) {
				localStorage.setItem("isNotifEnabled", JSON.stringify(true));
				// setSnackbarVisibility("notif-snackbar", true);	// DEBUG
			}
			else {
				localStorage.setItem("isNotifEnabled", JSON.stringify(false));
				// setSnackbarVisibility("notif-snackbar", false); // DEBUG
			}
		}
	</script>

	<script type="text/javascript">
		// Notification system 

		var isNoticed = false;
		document.getElementById("notif-sound").loop = true;		


		function notificationSystem(recentMarkets, recentMarkets_last) {

			if (!JSON.parse(localStorage.getItem("isNotifEnabled")))
				return;

			// If not recent markets are found, then disable sound and hide snackbar
			if (recentMarkets.length == 0) {
				isNoticed = false;
				document.getElementById("notif-sound").pause();		
				setSnackbarVisibility("notif-snackbar", false);
				return;
			}

			// If a new suitable market is registered, then set isNoticed to false.
			outerloop:
			for (i = 0; i < recentMarkets.length; i++) 
				for (j = 0; j < recentMarkets_last.length; j++) {
					if (recentMarkets[i] == recentMarkets_last[j]) 
						break;
					
					isNoticed = false;
					break outerloop;
				}
		
			// If a recent market is not yet noticed, then enable sound and show snackbar
			if (!isNoticed) {
				document.getElementById("notif-sound").play();
				setSnackbarVisibility("notif-snackbar", true);		
			}
		};

		function noticeNotif() {
			isNoticed = true;
			document.getElementById("notif-sound").pause();
			setSnackbarVisibility("notif-snackbar", false);
		}

	</script>

	<script type="text/javascript">

		var recentMarkets_last = [];

		function updateTables() {
			$.ajax({
				url: "{% url 'strata_markets' %}",
				type: "GET",
				dataType: "json",
				success: function(response) {
					tableRecentHtml = "";
					tableHistoryHtml = "";

					markets = response["markets"];

					if (markets.length == 0) {
						tableRecentHtml = "<tr><td colspan=50> No Data to Display </td></tr>";
						tableHistoryHtml = "<tr><td colspan=50> No Data to Display </td></tr>";
					} 
					else {

						var recentMarkets = []

						for (i = 0; i < markets.length; i++) {
							var market = markets[i];

							if (market["is_recent"] && recentMarkets.indexOf(market["market"]) == -1) {
								recentMarkets.push(market["market"]);
								tableRecentHtml += makeTableRecord(market, true);
							}
							else {
								tableHistoryHtml += makeTableRecord(market);
							}
						}

						if (recentMarkets.length == 0) 
							tableRecentHtml = "<tr><td colspan=50> No Data to Display </td></tr>";

						// DEBUG
						// if (document.getElementById("notif-switch").checked) {
						// 	notificationSystem(["321"], ["321"]);
						// 	console.log("debug notif switch on");
						// }
						// else {
						// 	notificationSystem(recentMarkets, recentMarkets_last);
						// }

						notificationSystem(recentMarkets, recentMarkets_last);

						recentMarkets_last = recentMarkets;
					}

					$("#table-recent-body").empty();
					$("#table-recent-body").html(tableRecentHtml);

					$("#table-history-body").empty();
					$("#table-history-body").html(tableHistoryHtml);		
				}
			});
		};

		function makeTableRecord(market, datetimeLayman = false) {
			var html = "";
			html += "<tr>";
			html += "<td>" + (datetimeLayman ? market["datetime_layman"] : market["datetime_formatted"]) + "</td>";
			html += "<td>" + market["market"] + "</td>";
			html += "<td>" + market["base_volume"].toFixed(3) + "</td>";
			html += "<td>" + market["bid"].toFixed(8) + "</td>";
			html += "<td>" + market["ask"].toFixed(8) + "</td>";
			html += "<td>" + market["last"].toFixed(8) + "</td>";
			html += "<td>" + market["previous_day"].toFixed(8) + "</td>";

			change24H = market["change_24h"]
			html += "<td><font color='" + (change24H >= 0 ? "green" : "red") + "'>" + (change24H * 100).toFixed(1) + "%" + "</font></td>";

			change12H = market["change_12h"]
			html += "<td><font color='" + (change12H >= 0 ? "green" : "red") + "'>" + (change12H * 100).toFixed(1) + "%" + "</font></td>";

			change6H = market["change_6h"]
			html += "<td><font color='" + (change6H >= 0 ? "green" : "red") + "'>" + (change6H * 100).toFixed(1) + "%" + "</font></td>";

			rsi = market["rsi"]
			if (rsi >= 70 || rsi <= 25)
				html += "<td><font color='" + (rsi >= 70 ? "green" : "red") + "'>" + rsi.toFixed(2) + "</font></td>";
			else
				html += "<td>" + rsi.toFixed(2) + "</td>";

			html += "</tr>";

			return html;
		}

		periodicFunctions.push(updateTables);

	</script>


{% endblock %}