{% extends "header.html" %}

{% block title %} Strategy A {% endblock %}

{% block navbar %}
	<li><a href="{% url 'scanner' %}">Scanner</a></li>
	<li class="active"><a href="{% url 'strata' %}">Strategy A</a></li>
{% endblock %}

{% block body %}

	<div style="height: 200%; background-color: #263238; color: Gainsboro" align="center">
		<div style="width: 80%; margin-top: -25px">
			<div style="margin-left: auto; margin-right: auto; margin-top: 25px; margin-bottom: 15px;  text-align: left; display: inline-block;" class="container-fluid">

				<p> 
					This strategy is an implementation of the bottom reversal strategy, with the premise that a bullish security that suddenly oversold itself would likely bounce back up. 
				</p> 

				<ol>
					<p>
						<i>  Buy Signals: </i>
						<li> If RSI <= 25. </li>
						<li> If altcoin change_24h >= 5% and change_12h > 2.5% and change_6h > 0%. </li>
					</p>
				</ol>
			</div>
		</div>
	</div>

{% endblock %}
